<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.sbstn.unsplashformuzei">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:theme="@style/AppTheme.NoActionBar">
        <service
            android:name=".UnsplashArtSource"
            android:label="@string/app_label"
            android:icon="@drawable/unsplash_icon"
            android:description="@string/app_description">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data android:name="color" android:value="#67C7E2" />

            <meta-data
                android:name="settingsActivity"
                android:value=".UnsplashForMuzei" />
        </service>

        <activity
            android:name=".UnsplashForMuzei"
            android:exported="true"/>
    </application>
</manifest>
